<div class="contact_summary">

<p>There are <span class ="number"><%= @contact_list.size %></span> contacts in the CRM</p>
</div>
<ul>
  <% @contact_list.each do |contact| %>
    <div class="contact_list">

      <li><p> <%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>);</br> Note: <%= contact.note %></p></br>
      <h5><a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>">Delete</a></h5></li>

    </div>

  <% end %>
</ul>
